build/
cmake-build-*/
compile_commands.json
log/

*.o
*.a
*.so
*.dylib
*.dll
*.duckdb_extension

__pycache__/
.cache/
venv/

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
test-mo-data/
tpch-data/
